In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('./1950-2016_actual_tornadoes.csv')

In [11]:
df_tx = df.loc[df['st'] == 'TX']
df_tx = df_tx.loc[df['slat'] != 0]
df_tx = df_tx.loc[df['slon'] != 0]
df_tx = df_tx.loc[df['elat'] != 0]
df_tx = df_tx.loc[df['elon'] != 0]

In [13]:
df_tx.to_csv('TX_tor_paths.csv')

In [17]:
df_tx = df_tx.loc[df['slon'] == -92.38]
df_tx

Empty DataFrame
Columns: [om, yr, mo, dy, date, time, tz, st, stf, stn, mag, inj, fat, loss, closs, slat, slon, elat, elon, len, wid, ns, sn, sg, f1, f2, f3, f4, fc]
Index: []

[0 rows x 29 columns]